<div class="menu">
    <div class="d-flex flex-row fixed">
        <div class="logo-container"><a class="menu-link" href="#"><i class="fa fa-bars menu-icon"></i></a><a
                class="logo" href="#"><span>business-admin</span></a></div>
        <div class="color-container"><span class="color-span">Bundle Type:</span>
            <div class="dropdown"><button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    type="button">Light</button>
                <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="#">First
                        Item</a><a role="presentation" class="dropdown-item" href="#">Second Item</a><a
                        role="presentation" class="dropdown-item" href="#">Third Item</a></div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end user-container"><a class="user-link" href="#"><i
                    class="fas fa-search"></i></a><a class="user-link" href="#"><i class="far fa-envelope"></i></a><a
                class="user-link" href="#"><i class="far fa-bell"></i></a><a class="user-image" href="#"><img
                    class="rounded-circle" src="assets/photo-1534210923090-1753941b737c.jpg" style="width: 32px;" /></a>
        </div>
    </div>
</div>