.layout-container{
    display: flex;
    flex-direction: row;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 241, 247);
    padding: 2.25rem 2.25rem .75rem;
}