
.main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 92%;
}

.left-menu{
    width: 15%;
}

.right-content{
    width: 85%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    height: 95%;
}

.columns{
    margin: 0px;
    padding: 2.25rem 2.25rem .75rem;
    max-width: 100%;
}

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(250, 214, 214, 0.3);
	background: #e4e9f2;
}

#style-4::-webkit-scrollbar
{
	width: 5px;
	background: #e4e9f2;
}

#style-4::-webkit-scrollbar-thumb
{
	background: #e4e9f2;
	border: 1px solid #e0dddd;
}

.scrollbar
{
	float: left;
	overflow-y: scroll;
}