<div class="row">
    <div class="col-md-6">
        <mat-card>
            <app-card-header>Simple Accordion</app-card-header>
            <mat-list>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                Currently I am {{panelOpenState ? 'open' : 'closed'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-list>
        </mat-card>
    </div>

    <div class="col-md-6">
        <mat-card>
            <app-card-header>Multiple Accordions</app-card-header>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <app-card-header>
                            ProductDetails
                        </app-card-header>
                    </mat-expansion-panel-header>
                    <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally,
                        nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <app-card-header>
                            Reviews
                        </app-card-header>
                    </mat-expansion-panel-header>
                    <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally,
                        nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <app-card-header>
                            Edit
                        </app-card-header>
                    </mat-expansion-panel-header>
                    <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally,
                        nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </div>
</div>