table{
    width: 100%;
}
.mat-header-cell {    
    text-align: left;   
 }

 .mat-cell{
     text-align: left;
 }

 .header{
     display: flex;
     justify-content: between;
 }

 a,
a label {
    cursor: pointer;
}