<div class="row">
    <div class="col-md-6">
        <mat-card>
            <app-card-header>
                Line
            </app-card-header>
            <app-d3-line></app-d3-line>
        </mat-card>
    </div>

    <div class="col-md-6">
        <mat-card>
            <app-card-header>
                Bar
            </app-card-header>
            <app-d3-bar-chart></app-d3-bar-chart>
        </mat-card>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <mat-card>
            <app-card-header>
                Stacked Bar
            </app-card-header>
            <app-d3-stacked-bar-chart></app-d3-stacked-bar-chart>
        </mat-card>
    </div>

    <div class="col-md-6">
        <mat-card>
            <app-card-header>
                Pie
            </app-card-header>
            <app-d3-pie-chart></app-d3-pie-chart>
        </mat-card>
    </div>
</div>