<mat-card>
    <div class="d-flex flex-column flex-auto p-6 bg-card rounded shadow-md">
        <div class="d-flex items-center">
            <div class="d-flex flex-column">
                <div class="font-bold text-md text-secondary uppercase tracking-wider">Budget</div>
                <div class="text-hint text-sm font-medium">Monthly budget summary</div>
            </div>
            <div class="ml-auto"><button aria-haspopup="true" mat-icon-button=""
                    class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                        class="mat-button-wrapper">
                        <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true"
                            data-mat-icon-type="svg" data-mat-icon-name="more_vert"><svg viewBox="0 0 24 24" x="672"
                                y="1440" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
                                focusable="false">
                                <path
                                    d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
                                </path>
                            </svg></mat-icon>
                    </span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
                        class="mat-button-focus-overlay"></span></button>
                <!---->
                <mat-menu class="ng-tns-c50-9">
                    <!---->
                </mat-menu>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="my-4"> Last month; you had <strong>223</strong> expense transactions, <strong>12</strong>
                savings
                entries and <strong>4</strong> bills. </div>
            <div class="d-flex items-center my-4">
                <div class="d-flex items-center justify-center w-14 h-14 rounded red-100">
                    <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="credit-card"
                        data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z">
                            </path>
                        </svg></mat-icon>
                </div>
                <div class="flex-auto ml-4 leading-none">
                    <div class="font-semibold text-xs text-hint uppercase tracking-wider">Expenses</div>
                    <div class="mt-2 font-medium text-2xl">$11,763.34</div>
                    <mat-progress-bar role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        class="mat-progress-bar mt-3 rounded-full mat-warn" aria-valuenow="58.8167" mode="determinate">
                        <svg width="100%" height="4" focusable="false"
                            class="mat-progress-bar-background mat-progress-bar-element">
                            <defs>
                                <pattern x="4" y="0" width="8" height="4" patternUnits="userSpaceOnUse"
                                    id="mat-progress-bar-0">
                                    <circle cx="2" cy="2" r="2"></circle>
                                </pattern>
                            </defs>
                            <rect width="100%" height="100%"
                                fill="url('/angular/demo/dashboards/finance#mat-progress-bar-0')"></rect>
                        </svg>
                        <div class="mat-progress-bar-buffer mat-progress-bar-element"></div>
                        <div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element"
                            style="transform: scale3d(0.588167, 1, 1);"></div>
                        <div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div>
                    </mat-progress-bar>
                </div>
                <div class="d-flex items-end justify-end min-w-18 mt-auto ml-6">
                    <div class="text-lg leading-none">2.6%</div>
                    <mat-icon role="img" class="mat-icon notranslate text-blue icon-size-16 ml-1 mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="arrow_downward"><svg
                            viewBox="0 0 24 24" x="432" y="144" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"></path>
                        </svg></mat-icon>
                </div>
            </div>
            <div class="d-flex items-center my-4">
                <div class="d-flex items-center justify-center w-14 h-14 rounded indigo-100">
                    <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="cash" data-mat-icon-namespace="heroicons_outline">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z">
                            </path>
                        </svg>
                    </mat-icon>
                </div>
                <div class="flex-auto ml-4 leading-none">
                    <div class="font-semibold text-xs text-hint uppercase tracking-wider">Savings</div>
                    <div class="mt-2 font-medium text-2xl">$10,974.12</div>
                    <mat-progress-bar role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        class="mat-progress-bar mt-3 rounded-full mat-primary" aria-valuenow="4.389648"
                        mode="determinate">
                        <svg width="100%" height="4" focusable="false"
                            class="mat-progress-bar-background mat-progress-bar-element">
                            <defs>
                                <pattern x="4" y="0" width="8" height="4" patternUnits="userSpaceOnUse"
                                    id="mat-progress-bar-1">
                                    <circle cx="2" cy="2" r="2"></circle>
                                </pattern>
                            </defs>
                            <rect width="100%" height="100%"
                                fill="url('/angular/demo/dashboards/finance#mat-progress-bar-1')"></rect>
                        </svg>
                        <div class="mat-progress-bar-buffer mat-progress-bar-element"></div>
                        <div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element"
                            style="transform: scale3d(0.0438965, 1, 1);"></div>
                        <div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div>
                    </mat-progress-bar>
                </div>
                <div class="d-flex items-end justify-end min-w-18 mt-auto ml-6">
                    <div class="text-lg leading-none">12.7%</div>
                    <mat-icon role="img" class="mat-icon notranslate text-blue icon-size-16 ml-1 mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="arrow_upward"><svg
                            viewBox="0 0 24 24" x="864" y="144" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"></path>
                        </svg></mat-icon>
                </div>
            </div>
            <div class="d-flex items-center my-4">
                <div class="d-flex items-center justify-center w-14 h-14 rounded teal-100">
                    <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="light-bulb"
                        data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z">
                            </path>
                        </svg></mat-icon>
                </div>
                <div class="flex-auto ml-4 leading-none">
                    <div class="font-semibold text-xs text-hint uppercase tracking-wider">Bills</div>
                    <div class="mt-2 font-medium text-2xl">$1,789.22</div>
                    <mat-progress-bar role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        class="mat-progress-bar mt-3 rounded-full mat-primary" aria-valuenow="100" mode="determinate">
                        <svg width="100%" height="4" focusable="false"
                            class="mat-progress-bar-background mat-progress-bar-element">
                            <defs>
                                <pattern x="4" y="0" width="8" height="4" patternUnits="userSpaceOnUse"
                                    id="mat-progress-bar-2">
                                    <circle cx="2" cy="2" r="2"></circle>
                                </pattern>
                            </defs>
                            <rect width="100%" height="100%"
                                fill="url('/angular/demo/dashboards/finance#mat-progress-bar-2')"></rect>
                        </svg>
                        <div class="mat-progress-bar-buffer mat-progress-bar-element"></div>
                        <div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element"
                            style="transform: scale3d(1, 1, 1);"></div>
                        <div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div>
                    </mat-progress-bar>
                </div>
                <div class="d-flex items-end justify-end min-w-18 mt-auto ml-6">
                    <div class="text-lg leading-none">105.7%</div>
                    <mat-icon role="img" class="mat-icon notranslate text-blue icon-size-16 ml-1 mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="arrow_upward"><svg
                            viewBox="0 0 24 24" x="864" y="144" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"></path>
                        </svg></mat-icon>
                </div>
            </div>
            <div class="text-sm text-hint">Exceeded your personal limit on <strong>bills</strong>! Be careful next
                month.
            </div>
        </div>
        <div class="d-flex items-center mt-auto"><button mat-stroked-button=""
                class="mat-focus-indicator mt-2 mat-stroked-button mat-button-base mat-primary"><span
                    class="mat-button-wrapper">
                    <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="cloud_download"><svg viewBox="0 0 24 24" x="96"
                            y="480" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
                            focusable="false">
                            <path opacity=".3"
                                d="M19.21 12.04l-1.53-.11-.3-1.5A5.484 5.484 0 0012 6C9.94 6 8.08 7.14 7.12 8.96l-.5.95-1.07.11A3.99 3.99 0 002 14c0 2.21 1.79 4 4 4h13c1.65 0 3-1.35 3-3 0-1.55-1.22-2.86-2.79-2.96zM12 17l-4-4h2.55v-3h2.91v3H16l-4 4z">
                            </path>
                            <path
                                d="M19.35 10.04A7.49 7.49 0 0012 4C9.11 4 6.6 5.64 5.35 8.04A5.994 5.994 0 000 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4 0-2.05 1.53-3.76 3.56-3.97l1.07-.11.5-.95A5.469 5.469 0 0112 6c2.62 0 4.88 1.86 5.39 4.43l.3 1.5 1.53.11A2.98 2.98 0 0122 15c0 1.65-1.35 3-3 3zm-5.55-8h-2.9v3H8l4 4 4-4h-2.55z">
                            </path>
                        </svg></mat-icon><span class="ml-3">Download Summary</span>
                </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                    class="mat-button-focus-overlay"></span></button></div>
    </div>
</mat-card>