.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-button {
    margin-bottom: 2rem;
  }
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  .title {
    text-align: center;
  }