<div class="menu-sidebar">
    <div class="main-container">
        <div class="scrollable">
            <ul class="menu-items">
                <li *ngFor="let menuItem of menu" class="menu-item">
                    <a class="menu-link" (click)="isCollapsed=!isCollapsed">
                        <i class="{{menuItem.icon}} menu-icon"></i>
                        <span class="menu-title">{{menuItem.title}}</span>
                        <i class="fa fa-chevron-left extend-state"></i>
                    </a>
                    <ul *ngIf="menuItem.children" class="menu-items" [hidden]="!isCollapsed">
                        <li *ngFor="let item of menuItem.children" class="menu-item">
                            <a class="menu-link" href="#">
                                <span class="menu-title">{{item.title}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>