<div class="row">
    <div class="col-md-12">
        <mat-card>
            <div class="d-flex items-center justify-content-between m-4">
                <div class="mr-6">
                    <h2 class="m-0">Finance dashboard</h2>
                    <div class="text-secondary tracking-tight">Keep track of your financial status</div>
                </div>
                <div class="flex item-center">
                    <button mat-stroked-button class="mx-1">
                        <mat-icon class="mr-2">save</mat-icon>
                        Export
                    </button>
                    <button mat-stroked-button class="mx-1">
                        <mat-icon class="mr-2">rule</mat-icon>
                        Reports
                    </button>
                    <button mat-stroked-button class="mx-1">
                        <mat-icon class="mr-2">settings</mat-icon>
                        Settings
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="flex items-center">
                                <div class="flex flex-col">
                                    <div class="font-bold text-md text-secondary uppercase tracking-wider">Previous
                                        Statement</div>
                                    <div class="text-green font-medium text-sm"> Paid on February 3, 2021 </div>
                                </div>
                                <div class="ml-auto"><button aria-haspopup="true" mat-icon-button=""
                                        class="mat-focus-indicator mat-menu-trigger mat-icon-button mat-button-base"><span
                                            class="mat-button-wrapper">
                                            <mat-icon role="img" class="mat-icon notranslate mat-icon-no-color"
                                                aria-hidden="true" data-mat-icon-type="svg"
                                                data-mat-icon-name="more_vert"><svg viewBox="0 0 24 24" x="672" y="1440"
                                                    fit="" height="100%" width="100%"
                                                    preserveAspectRatio="xMidYMid meet" focusable="false">
                                                    <path
                                                        d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
                                                    </path>
                                                </svg></mat-icon>
                                        </span><span matripple=""
                                            class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
                                            class="mat-button-focus-overlay"></span></button>
                                    <!---->
                                    <mat-menu class="ng-tns-c50-1108">
                                        <!---->
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                </div>
            </div>

        </mat-card>
    </div>
</div>