<div class="d-flex items-center justify-content-between my-3">
    <div class="mr-6">
        <h2 class="m-0">Finance dashboard</h2>
        <div class="text-secondary tracking-tight">Keep track of your financial status</div>
    </div>
    <div class="flex item-center">
        <button mat-stroked-button class="mx-1">
            <mat-icon class="mr-2">save</mat-icon>
            Export
        </button>
        <button mat-stroked-button class="mx-1">
            <mat-icon class="mr-2">rule</mat-icon>
            Reports
        </button>
        <button mat-stroked-button class="mx-1">
            <mat-icon class="mr-2">settings</mat-icon>
            Settings
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-statement></app-statement>
    </div>
    <div class="col-md-6">
        <app-statement></app-statement>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <app-balance></app-balance>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <app-transactions></app-transactions>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <app-budget></app-budget>
    </div>
</div>