<div class="row">
    <div class="col-md-12">
        <mat-card>
            <app-card-header>
                Default Buttons
            </app-card-header>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-dark">Dark</button>

            <button type="button" class="btn btn-link">Link</button>
        </mat-card>
    </div>

    <div class="col-md-12">
        <mat-card>
            <app-card-header>
                Outline buttons
            </app-card-header>
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </mat-card>
    </div>

    <div class="col-md-12">
        <mat-card>
            <app-card-header>
                Ghost Buttons
            </app-card-header>
            <button type="button" class="btn text-primary">Primary</button>
            <button type="button" class="btn text-secondary">Secondary</button>
            <button type="button" class="btn text-success">Success</button>
            <button type="button" class="btn text-danger">Danger</button>
            <button type="button" class="btn text-warning">Warning</button>
            <button type="button" class="btn text-info">Info</button>
            <button type="button" class="btn text-dark">Dark</button>
        </mat-card>
    </div>

    <div class="col-md-12">
        <mat-card>
            <app-card-header>
                Button Sizes
            </app-card-header>
            <button type="button" class="btn btn-primary btn-lg mr-3">Large button</button>
            <button type="button" class="btn btn-primary btn-xs mr-3">Medium button</button>
            <button type="button" class="btn btn-primary btn-sm mr-3">Small button</button>
        </mat-card>
    </div>

    <div class="col-md-12">
        <mat-card>
            <app-card-header>
                Button Shapes
            </app-card-header>
            <button type="button" class="btn btn-primary btn-circle btn-md mr-2">Blue</button>
            <button type="button" class="btn btn-secondary btn-circle btn-md mr-2">Gray</button>
            <button type="button" class="btn btn-success btn-circle btn-md mr-2">Green</button>
            <button type="button" class="btn btn-danger btn-circle btn-md mr-2">Red</button>
            <button type="button" class="btn btn-warning btn-circle btn-md mr-2">Yellow</button>
            <button type="button" class="btn btn-light btn-circle btn-md mr-2">White</button>
            <button type="button" class="btn btn-dark btn-circle btn-md mr-2">Black</button>
        </mat-card>
    </div>

    <div class="col-md-12">
        <mat-card>
            <app-card-header>
                FAB Button
            </app-card-header>
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <div class="example-button-container">
                        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                            <mat-icon>plus_one</mat-icon>
                        </button>
                    </div>
                    <div class="example-button-container">
                        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <div class="example-button-container">
                        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                            <mat-icon>home</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-md-12">
        <mat-card>
            <app-card-header>
                Icon Buttons
            </app-card-header>
            <div class="example-button-row">
                <div class="example-flex-container">
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>home</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>