<div class="row">
    <div class="col-md-6">
        <mat-card>
            <app-card-header>
                Bar Chart
            </app-card-header>
            <app-bar-chart></app-bar-chart>
        </mat-card>
    </div>

    <div class="col-md-6">
        <mat-card>
            <app-card-header>
                Doughnut Chart
            </app-card-header>
            <app-doughnut-chart></app-doughnut-chart>
        </mat-card>
    </div>
</div>

<div class="row mt-4">
    <div class=" col-md-12">
        <mat-card>
            <app-card-header>
                Line Chart
            </app-card-header>
            <app-line-chart></app-line-chart>
        </mat-card>
    </div>
</div>