<div class="row">
    <div class="col-md-6">
        <mat-card>
            <app-card-header>Fruits</app-card-header>
            <mat-list>
                <mat-list-item> Lemons </mat-list-item>
                <mat-list-item> Raspberries </mat-list-item>
                <mat-list-item> Strawberries </mat-list-item>
                <mat-list-item> Blackberries </mat-list-item>
                <mat-list-item> Kiwis </mat-list-item>
                <mat-list-item> Grapefruit </mat-list-item>
                <mat-list-item> Avocado </mat-list-item>
                <mat-list-item> Watermelon </mat-list-item>
                <mat-list-item> Cantaloupe </mat-list-item>
                <mat-list-item> Oranges </mat-list-item>
                <mat-list-item> Peaches </mat-list-item>
            </mat-list>
        </mat-card>
    </div>

    <div class="col-md-6">
        <mat-card>
            <app-card-header>Users</app-card-header>
            <mat-list>
                <mat-list-item>
                    Carla Espinosa
                </mat-list-item>
                <mat-list-item> Bob Kelso </mat-list-item>
                <mat-list-item> Perry Cox </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>